html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #1b1b1f;
    color: rgb(255, 255, 230);
    font-family: "Tektur", serif;
}

/* Header */
#header {
    background-color: #535C91;
    font-family: "Space Grotesk", serif;
}

#header a {
    color: black;
    font-weight: 700;
}

#logo-title {
    color: rgb(255, 255, 230) !important;
}

#header ul > li:first-child > a {
    background-color: #1B1A55;
    color: rgb(255, 255, 230);
    border-radius: 10px;
}

/* Handle error */
#error {
    padding-top: 100px;
}

#error h1 {
    color: #b51f1f;
    font-size: 5rem;
}

#error p {
    font-size: 2rem;
    font-style: italic;
}

/* Cover */
#cover {
    background-color: #131321;
}

#cover img {
    transition: transform 0.3s, z-index 0.3s;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 0 0 60px 30px black;
    max-height: 600px;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

#cover img:hover {
    transform: scale(1.3);
    z-index: 9999;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

#cover img:hover ~ .overlay {
    opacity: 1;
}

/* Media Information */
#info-container {
    margin: 30px 100px 100px 100px;
    text-align: center;
}

#info-container h1{
    color: #535C91;
    padding-bottom: 20px;
}

#info-container p{
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.7;
}

hr {
    width: 50%;
    margin: 20px auto;
    border: 2px solid #535C91;
}

@media (max-width: 768px) {
    #info-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    #search-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 480px) {
    #info-container p{
        font-size: 1rem;
    }
}

/* Search */
.image-background {
    background-color: #131321;
}

.image-background img {
    margin: 20px;
    max-height: 500px;
}

/* Footer */
#footer-container {
    background-color: #535C91;
    text-align: center;
    padding: 20px; 
    font-family: "Space Grotesk", serif;
}